#include "lump_comm_tsk.h"

CRE_TSK(LUMP_SEND_TSK, { TA_NULL, 0, lump_send_task, LUMP_SEND_PRIORITY, STACK_SIZE, NULL });
CRE_CYC(LUMP_SEND_CYC, { TA_NULL, { TNFY_ACTTSK, LUMP_SEND_TSK }, 10*1000, 0U });

CRE_TSK(LUMP_RECEIVE_TSK, { TA_NULL, 0, receive_command, LUMP_RECEIVE_PRIORITY, STACK_SIZE, NULL });
CRE_CYC(LUMP_RECEIVE_CYC, { TA_NULL, { TNFY_ACTTSK, LUMP_RECEIVE_TSK }, 10*1000, 0U });
CRE_MTX(LUMP_RECEIVE_MTX, { TA_CEILING, 5 });

CRE_TSK(LUMP_DISPATCH_TSK, { TA_NULL, 0, lump_dispatch_poll, LUMP_DISPATCH_PRIORITY, STACK_SIZE, NULL });

CRE_TSK(LUMP_BUTTON_TSK, { TA_NULL, 0, lump_button_task, LUMP_CAMERA_CALIB_PRIORITY - 1, STACK_SIZE, NULL });
CRE_TSK(LUMP_CHANGE_CALIB_MODE_TSK, { TA_NULL, 0, change_calib_mode, LUMP_CAMERA_CALIB_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LUMP_CAM_POS_CALIB_TSK, { TA_NULL, 0, cam_pos_calib, LUMP_CAMERA_CALIB_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LUMP_CAM_COLOR_CALIB_TSK, { TA_NULL, 0, cam_color_calib, LUMP_CAMERA_CALIB_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LUMP_COLOR_SENSOR_COLOR_CALIB_TSK, { TA_NULL, 0, color_sensor_color_calib, LUMP_CAMERA_CALIB_PRIORITY, STACK_SIZE, NULL });